<ul class="list-group">
  <li class="list-group-item">
    <h4>Age</h4>
    {{#if model.age}}
      {{model.age.years}} <i class="fa-times red click-fix"></i>
    {{else}}
      {{age-adder detail=model}}
    {{/if}}
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h4>Citizenships</h4>
    {{#each model.countries as |country|}}
      <p>{{country.demonym}} <i class="fa-times red click-fix" {{action 'removeCountry' country}}></i></p>
    {{/each}}
    {{country-adder detail=model}}
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h4>Languages</h4>
    {{#each model.languages as |language|}}
      <p>{{language.tongue.name}} - {{language.proficiencyString}}</p>
    {{/each}}
    {{language-adder detail=model}}
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h4>Education</h4>
    {{#each model.educations as |education|}}
      <p>{{education.degree.levelString}}: {{education.field.name}} ({{education.school.name}})</p>
    {{/each}}
    {{education-adder detail=model}}
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h4>Work Experience</h4>
    {{#each model.experiences as |experience|}}
      <p>{{experience.role}} ({{experience.industry.name}}: {{experience.lengthString}})</p>
    {{/each}}
    {{experience-adder detail=model}}
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h4>Specializations  <small>(Academic or Professional, max 2)</small></h4>
    {{#each model.specializations as |specialization|}}
      <p>{{specialization.name}}</p>
    {{/each}}
    {{#unless model.maxSpecializations}}
      {{attribute-adder detail=model attributeName="specialization"}}
    {{/unless}}
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h4>Interests  <small>(Causes, skills, or projects, max 3)</small></h4>
    {{#each model.interests as |interest|}}
      <p>{{interest.name}}</p>
    {{/each}}
    {{#unless model.maxInterests}}
      {{attribute-adder detail=model attributeName="interest"}}
    {{/unless}}
  </li>
</ul>