{{#unless noNav}}
  {{#nav-bar brand="mYgration"}}
    {{#if session.isAuthenticated}}
      {{nav-link link='go' icon='search'}}         
      {{nav-link link='me.listings.add' icon='add'}}
      {{#nav-link link='me' icon='person' pull='left'}}
          {{me.firstName}}
      {{/nav-link}}
    {{else}}
      {{nav-link link='login' icon='launch'}}
    {{/if}}
  {{/nav-bar}}
{{/unless}}

{{#unless noContainer}}
  <div class='container'>
    {{outlet}}
  </div>
{{else}}
  {{outlet}}
{{/unless}}

{{#unless noFooter}}
  <div class='footer'>
    <div class='container-fluid'>
      <p class='text-center'>
        © {{year}} mYgration
      </p>
    </div>
  </div>
{{/unless}}

{{ember-notify messageStyle='bootstrap'}}