{{#unless noNav}}
  <nav class='navbar navbar-default'>

    <div class='container'>

      <div class='navbar-header'>
        {{#link-to 'index' classNames='navbar-brand'}}
          <img src='assets/images/brand-white.png'>
        {{/link-to}}
      </div>

      <ul class='nav navbar-nav navbar-right'>
      
        {{#if session.isAuthenticated}}
          <p class='navbar-text'>{{me.firstName}} logged in</p>
          <button {{action 'signOut'}}>Sign out</button>
        {{else}}
          <li>
            {{#link-to 'login'}}
                <i class='fa-sign-in fa-lg'></i>
            {{/link-to}}
          </li>
        {{/if}}

      </ul>

    </div>
  </nav>
{{/unless}}

<div class='container-fluid main-body'>
  {{outlet}}
</div>

<div class='footer'>
  <div class='container'>
    <p class='text-center'>
      © {{year}} mYgration
    </p>
  </div>
</div>

{{ember-notify messageStyle='bootstrap'}}