{{#unless noNav}}
  <nav>

    <div class='nav-wrapper container'>

      {{#link-to 'index' classNames='brand-logo'}}
        mYgration
      {{/link-to}}

      <ul class="right">
      
        {{#if session.isAuthenticated}}
          <li>
            {{#link-to 'go'}}
              <i class='material-icons'>search</i>
            {{/link-to}}
          </li>          
          <li>
            {{#link-to 'me.listings.add'}}
              <i class='material-icons'>add</i>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'me'}}
              <i class='material-icons left'>person</i>
              {{me.firstName}}
            {{/link-to}}
          </li>
        {{else}}
          <li>
            {{#link-to 'login'}}
              <i class='fa-sign-in fa-lg'></i>
            {{/link-to}}
          </li>
        {{/if}}

      </ul>

    </div>
  </nav>
{{/unless}}

<div class='container'>
  {{outlet}}
</div>

{{#unless noFooter}}
  <div class='footer'>
    <div class='container-fluid'>
      <p class='text-center'>
        © {{year}} mYgration
      </p>
    </div>
  </div>
{{/unless}}

{{ember-notify messageStyle='bootstrap'}}