<ul class="list-group">
  <li class="list-group-item">
    {{input type="text" value=number placeholder="Credit Card Number" class="form-control"}}
    {{input type="number" value=month placeholder="MM" class="form-control"}}
    {{input type="number" value=year placeholder="YY" class="form-control"}}
    {{input type="number" value=cvv placeholder="CVV" class="form-control"}}
    <div class="text-center">
      <button class="btn btn-large btn-primary" {{action "addCard"}}>Add Card</button>
    </div>
  </li>
</ul>