{{md-input placeholder="Title" value=title}}
{{textarea placeholder="Description" value=description}}
Cost:
{{md-input type="number" value=price}}
{{#if model.images.isFulfilled}}
  {{#photoswipe-gallery items=model.images as |img|}}
    {{image-thumbnail model=img}}
  {{/photoswipe-gallery}}
{{/if}}
<button class="btn" {{action "file"}}>
  <i class="material-icons left">photo</i>
  Image
</button>
<button class="btn" disabled={{unless isValid true}} {{action "save"}}>
  <i class="material-icons left">save</i>
  Save
</button>
{{#unless isNew}}
  <button class="btn red" {{action "remove"}}>
    <i class="material-icons left">clear</i>
    Remove
  </button>
{{/unless}}