{{md-input placeholder="Title" value=title}}
{{textarea placeholder="Description" value=description}}
Cost:
{{md-input type="number" value=price}}
<button class="btn" disabled={{unless isValid true}} {{action "save"}}>
  <i class="material-icons left">save</i>
  Save
</button>
{{#unless isNew}}
  <button class="btn red" {{action "remove"}}>
    <i class="material-icons left">clear</i>
    Remove
  </button>
{{/unless}}