{{#if adding}}
  <div class="row">
    {{md-input value=model class="s11" type="number"}}
    <div class="col s1">
      <button class="btn" disabled={{unless isValid true}} {{action 'save'}}>
        <i class="material-icons">check</i>
      </button>
    </div>
  </div>
{{else}}
  <button class="btn" {{action 'add'}}>
    Select Age
  </button>
{{/if}}