{{#if adding}}
  <div class="row">
    {{md-input class="s11" value=name type=attributeType placeholder=placeHolder}}
    {{save-button isValid=isValid}}
  </div>
{{else}}
  <button class="btn btn-primary" {{action 'add'}}>
    Add {{attributeName}}
    <i class="fa-plus"></i>
  </button>
{{/if}}