{{#if adding}}
  <div class="row">
    {{md-input class="s11" value=name type=attributeType placeholder=placeHolder}}
    <div class="col s1">
      <button class="btn" disabled={{unless isValid true}} {{action 'save'}}>
        <i class="material-icons">check</i>
      </button>
    </div>
  </div>
{{else}}
  <button class="btn btn-primary" {{action 'add'}}>
    Add {{attributeName}}
    <i class="fa-plus"></i>
  </button>
{{/if}}