{{#if adding}}
  <div class="row">
    <div class="col-md-4">
      {{#x-select value=industry classNames="form-control"}}
        <option>Select industry</option>
        {{#each industries as |industry|}}
          {{#x-option value=industry}}
            {{industry.name}}
          {{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
    <div class="col-md-3">
      {{input class="form-control" type="text" value=role size=15}}
    </div>
    <div class="col-md-4">
      {{#x-select value=length classNames="form-control"}}
        <option>Select proficiency</option>
        {{#each-in model.lengthEnum as |value label|}}
          {{#x-option value=value}}
            {{label}}
          {{/x-option}}
        {{/each-in}}
      {{/x-select}}      
    </div>
    {{save-button isValid=isValid}}
  </div>
{{else}}
  <button class="btn btn-primary" {{action 'add'}}>
    Add Work Experience
    <i class="fa-plus"></i>
  </button>
{{/if}}