<ul class="list-group">
  <li class="list-group-item list-group-item-info">
    Add a Listing
  </li>
  <li class="list-group-item">
    {{input class="form-control" type="text" placeholder="Title" value=title}}
  </li>
  <li class="list-group-item">
    {{textarea class="form-control" placeholder="Description" value=description}}
  </li>
  <li class="list-group-item">
    Cost:
    {{input class="form-control" type="number" value=price}}
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary" disabled={{unless isValid true}} {{action "save"}}>
      <i class="fa-save"></i>
      Save
    </button>
  </li>
</ul>