{{#if adding}}
  <div class="row">
    <div class="col m6 input-field">
      {{#x-select value=tongue classNames="browser-default"}}
        <option>Select language</option>
        {{#each tongues as |tongue|}}
          {{#x-option value=tongue}}
            {{tongue.name}} ({{tongue.nativeName}})
          {{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
    <div class="col m5 input-field">
      {{#x-select value=proficiency classNames="browser-default"}}
        <option>Select proficiency</option>
        {{#each-in model.proficiencyEnum as |value label|}}
          {{#x-option value=value}}
            {{label}}
          {{/x-option}}
        {{/each-in}}
      {{/x-select}}      
    </div>
    {{save-button isValid=isValid}}
  </div>
{{else}}
  <button class="btn" {{action 'add'}}>
    Add Language
    <i class="material-icons right">add</i>
  </button>
{{/if}}