{{#if adding}}
  <div class="row">
    <div class="col-md-3">
      {{#x-select value=degree classNames="form-control"}}
        <option>Select degree</option>
        {{#each degrees as |degree|}}
          {{#x-option value=degree}}
            {{degree.levelString}}
          {{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
    <div class="col-md-2">
      {{input class="form-control" type="text" value=field.name size=15 placeholder="Field"}}
    </div>
    <div class="col-md-3">
      {{input class="form-control" type="text" value=school.name size=15 placeholder="School"}}
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" disabled={{unless isValid true}} {{action 'save'}}>
        <i class="fa-check"></i>
      </button>
    </div>
  </div>
{{else}}
  <button class="btn btn-primary" {{action 'add'}}>
    Add Degree
    <i class="fa-plus"></i>
  </button>
{{/if}}