{{#if adding}}
  <div class="row">
    <div class="col m4 input-field">
      {{#x-select value=degree classNames="browser-default"}}
        <option>Select degree</option>
        {{#each degrees as |degree|}}
          {{#x-option value=degree}}
            {{degree.levelString}}
          {{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
    {{md-input class="m4" value=field.name placeholder="Field"}}
    {{md-input class="m3" value=school.name placeholder="School"}}
    {{save-button isValid=isValid}}
  </div>
{{else}}
  <button class="btn" {{action 'add'}}>
    Add Degree
    <i class="material-icons right">add</i>
  </button>
{{/if}}